.simplebarlinetooltip-content {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    font-weight: 500;
    font-size: 10px;
  }
}
