.stats__kpi .recharts-legend-item-text {
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
  color: #20253a !important;
}

@media screen and (max-width: 1050px) {
  .stats__kpi .recharts-legend-item-text {
    font-size: 12px;
  }
}
